/* 
Document   : layout
Author     : Little Neko
Description: layout styles

*/

/* Table of Content
==================================================

#BOOSTRAP CUSTOMIZATION
#NEKO CSS FRAMEWORK
#TYPOGRAPHY
#GENERAL
#PARALLAX STUFF
#HEADER
#MAIN MENU 
#FOOTER 
#SLIDERS
#BLOG
#NEWS
#PAGES
#PORTFOLIO
#FORMS
#TIMELINE
#MISCELANIOUS

*/

/* NEKO CSS FRAMEWORK
================================================== */
/*** lists ***/
/* icons */
.iconList li:before{
	content:'\e801';
	font-family: 'custom-icons';
	font-size: 10px;
	text-align: left;
	padding: 0;
	margin:0;
	display:inline-block;
	margin-right:10px;
	line-height:1em;
}
.iconList li {padding:5px;}

/* borde */
.borderList li {
	border-bottom: 1px solid rgba(125,125,125,0.5);
}


/*** icons ***/

.iconRounded{
	border-radius:50%;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	font-size:18px;	
}

.iconRounded:before{margin: auto;text-align: center; line-height: 40px; }

.iconBig{
	font-size: 40px;
}

.iconBig.iconRounded{
	width:100px;
	height: 100px;
}

.iconBig.iconRounded:before{
	line-height: 100px;	
}

.iconMedium {
	font-size: 33px;
}

.iconMedium.iconRounded{
	width: 66px;
	height: 66px;
}

.iconMedium.iconRounded:before{
	line-height: 66px;	
}

.iconSmall:before {
	font-size: 10px;
}

.iconSmall.iconRounded{
	width: 26px;
	height: 26px;
}

.iconSmall.iconRounded:before{
	line-height: 26px;	
}

/*** icon Headings ***/
.iconBlocHeading {position:relative; padding-left:55px;}
.iconBlocHeading i{position:absolute; left:0;}
.iconBlocHeading h2{display: block; font-size:18px; font-weight: 400; padding-top: 5px;}
.iconBlocHeading h2:after{content:none;}
.iconBlocHeading h3{display: block;}


/*** boxes ***/
.boxFeature{margin-bottom:33px;}
.boxContent{padding:22px; border-radius: 0 0 11px 11px;}
.color2.boxContent{border:none;}
.boxFocus{padding:22px; border-radius: 11px;}
.boxIconServices {text-align:center}
.boxIconServices i{ margin:0 auto 22px auto;}
.boxIconServices .boxContent{ padding:0; border:none;}

/* box icons */
.boxIcon a{
	padding:33px;
	text-align: center;
	display: block;
	margin-bottom:11px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.boxIcon a i, .boxIcon a .imgBorder{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-backface-visibility: hidden;
}
.boxIcon a span {display:none;}
.boxIcon i {margin: 36px auto; display: block; border-radius:50%;}
.boxIcon h2 {font-size: 18px; font-weight: 400; margin-bottom: 16px;} 
.boxIcon p {margin: 0;}

.boxIcon a:hover{text-decoration:none; }

.boxIcon a:hover i{
	border: 25px solid #F7F7F7;
	width: 150px;
	height: 150px;
	margin:11px auto;
}

/* img box */
.boxIcon a img{
	
	/*width: 180px;
	height: 180px;*/
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
}
.boxIcon a:hover img{ } 

.boxIcon a .imgBorder{
	border: 4px solid #F7F7F7;
	background: #F7F7F7;
	border-radius: 50%!important;

	width: 180px;
	height: 180px;
	margin: 18px auto 22px auto;
}
.boxIcon a .imgBorder img{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-backface-visibility: hidden;
	width: 172px;
	height: 172px;
}


.boxIcon a:hover .imgBorder img{
	transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
}

/*** testimonial **/
.boxTestimonial blockquote{
	padding:33px 33px 44px 33px;
	font-size:18px;
	line-height: 33px;
}

.boxTestimonial blockquote:after {
	display:none;
}
.boxTestimonial .clientIcon img {
	margin:33px;
	float:left;
}


.boxTestimonial blockquote span{
	display:block;
	font-size: 12px;
}

.clientIcon span {font-weight: 300;}
.clientIcon span, .clientIcon span strong {vertical-align: bottom; font-size: 14px;}

/*** fake columns ***/

.col-left-grey {background:url(../images/theme-pics/col-left-grey.png) center repeat-y; border-top: 1px solid #ededed }

/*** utilies classes ***/
.mb15 {
	margin-bottom:0.75em;
}
.mb30 {
	margin-bottom:1.5em;
}
.mb40 {
	margin-bottom:2em;
}
.mt15 {
	margin-top:0.75em;
}
.mt30 {
	margin-top:1.5em;
}
.mt40 {
	margin-top:2em;
}

.pb15 {
	padding-bottom:0.75em;
}
.pb30 {
	padding-bottom:1.5em;
}
.pb40 {
	padding-bottom:2em;
}
.pt15 {
	padding-top:0.75em;
}
.pt30 {
	padding-top:1.5em;
}
.pt40 {
	padding-top:2em;
}

/** separators **/
hr.lineDouble {
	border-top: 4px double rgb(238, 238, 238);
}
hr.lineStar, hr.lineX, hr.linePlus, hr.lineDot, hr.lineLines {
	text-align: center;
}
hr.lineStar:after, hr.lineX:after, hr.linePlus:after, hr.lineDot:after, hr.lineLines:after {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	color: rgb(238, 238, 238);
	content: '\e815';
	display: inline-block;
	font-family: 'custom-icons';
	font-size: 1em;
	padding: 0 0.25em;
	position: relative;
	top: -0.8em;
	width: 33px;
}
hr.lineX:after {content: '\e816';}
hr.linePlus:after {content: '\e81c';}
hr.lineDot:after {content: '\e930';}
hr.lineLines:after {content: '\e866';}

hr.lineSmall {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/** separators **/
.noMargin {
	margin:0!important;
}
.noPaddingBottom {
	padding-bottom:0!important;
}
.noPaddingTop {
	padding-top:0
}
.noBorder {border:none!important;}

.utilities_demo {padding-left: 1.5em; padding-right: 1.5em;}

/*** end utilies classes ***/
/* images */

.imgBorder {
	border-radius:11px;
	overflow: hidden;
	/*padding:5px;*/	
}

.backFaceVisibilityHidden{ -webkit-backface-visibility: hidden; }

/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){
	#boxedLayout {padding-top: 22px;}
	#boxedLayout #globalWrapper{
		width:768px;
		margin:auto;
		background: #fefefe;
	}
	#boxedLayout .navbar-fixed-top {position: static;}

	.mb15 {
		margin-bottom:1.5em;
	}
	.mb30 {
		margin-bottom:3em;
	}
	.mb40 {
		margin-bottom:4em;
	}
	.mt15 {
		margin-top:1.5em;
	}
	.mt30 {
		margin-top:3em;
	}
	.mt40 {
		margin-top:4em;
	}
	.pt15{
		padding:1.5em;
	}
	.pb15 {
		
		padding-bottom:1.5em;
	}
	.pb30 {
		padding-bottom:3em;
	}
	.pb40 {
		padding-bottom:4em;
	}
	.pt15 {
		padding-top:1.5em;
	}
	.pt30 {
		padding-top:3em;
	}
	.pt40 {
		padding-top:4em;
	}
	.boxIconServices h2{font-size:20px;  }
	.boxIconServices i{float:left;}
	.boxIconServices.posLeft i{ float:left;}
	.boxIconServices .boxContent {padding:0 0 0 152px; text-align:left;}
	.boxIconServices.posLef .boxContent {padding:0 0 0 152px;  }
}

@media(min-width:992px){

	#boxedLayout #globalWrapper{
		width:992px;
	}

	.boxIconServices.posLeft i { float:right;}
	.boxIconServices.posLeft .boxContent {padding:0 152px 0 0;text-align: right;}
	.boxIconServices i { float:left;}
	.boxIconServicest .boxContent {padding:0 0 0 152px;}
	
}

@media(min-width:1200px){
	#boxedLayout #globalWrapper{
		width:1200px;
	}
}

/*** END MEDIA QUERIES ***/
/* NEKO CSS FRAMEWORK
================================================== */

/* TYPOGRAPHY
================================================== */

body {
	font-size:14px;
	line-height: 22px;
	font-family: 'Roboto',sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	padding-top: 87px;
}
h1, h2, h3, h4, h5, h6, legend {
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	line-height: 1.25em;
	margin: 0 0 0.75em 0;
}
h1 {
	font-size: 36px;
	margin-bottom: 0.25em;
	font-weight: 100;
}
h1 strong{
	padding:0 10px;
	font-weight: 300;
}

.largeQuote h1{
	margin-bottom: 0;
	padding-left: 11px;
	padding-right: 11px;
}

.paralaxText h2 {
	font-size: 22px;
	font-weight: 100;
	line-height:1.5em;
	display: inline-block;
	padding:33px;
	border-radius: 22px;
	
	margin-bottom: 0;
}

.paralaxText h2 small {
	font-size: 22px;
	font-weight: 100;
}

.paralaxText .iconRounded {display: inline-block;}

.paralaxText .testimonialCarousel blockquote {text-transform: none;letter-spacing:normal;
	font-size: 22px;
	line-height:22px;
}
.paralaxText .iconBig {
	font-size: 22px;
}


h2 {
	font-size:22px;
	display: block;
	position: relative;
	overflow:hidden;

	font-weight: 300;	
}

h2:after{
	border-top:1px dashed #ddd;
	border-bottom:1px dashed #ddd;
	display:inline-block;
	height:6px;
	content:"";
	width: 100%;
	position: absolute;
	margin-left: 11px;
	top:50%;		
}
.boxIcon h2:after, .pricingBloc h2:after, h2.subTitle:after, .generatedMoreLink h2:after,.boxIconServices h2:after, .paralaxText h2:after, .owlCaption h2:after, h2.text-center:after {content:none; }/*remove lines after H2 when required*/

h3, legend {
	font-size:20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	margin-bottom: 2em;
	font-size: 14px;
	font-weight: 300;
}
h1 small {
	font-size:25px;
	font-weight: inherit;
}
h2 small {
	font-size: 18px;
}

h3 small {
	font-size: 14px;
}
h4 small {
	font-size: 12px;
}

p, ul {
	margin-top: 0;
	margin-bottom: 12px;
}
strong {
	font-weight:400
}
small, aside {
}
li {
	line-height: inherit;
}
a:link, a:visited {
	text-decoration:none;

}
a:hover, a:active {
	text-decoration:underline;
}
ul.iconsList li a:hover {
	text-decoration:none;
}
a.readMore {
	font-style:italic;
}
blockquote {
	font-size:22px;
	line-height: 33px;
	margin-bottom:22px;
	font-weight:100;
	padding:0;
	border:none;
	text-align:left;
}
blockquote h1 {
	display:inline;
}
blockquote p {
	font-size: inherit;
	display:inline;
}
blockquote small, .ctaBox blockquote small{
	font-size:50%;
	display:inline-block;
	line-height: 1em;
}
blockquote:before {
	content:'\e863';
	font-family: 'custom-icons';
	margin-right:0.5em;
}
blockquote:after {
	content:'\e869';
	font-family: 'custom-icons';
	margin-left:0.5em;
}

blockquote.pull-right {border:none;}

.quoteRow blockquote:before, .quoteRow blockquote:after {
	content:none;
}
hr {
	padding:0;
	margin:1.5em 0;
}
.hero-unit blockquote {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){
	
	body{padding-top: 88px;}
	h1 {
		font-size: 40px;
	}
	.paralaxText blockquote {
		font-size: 33px;
		line-height:33px;
	}
	.paralaxText .iconBig {
		font-size: 44px;
	}


	.paralaxText h2 {
		font-size: 44px;
	}

	
}
@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/


/* END TYPOGRAPHY
================================================== */
/* GENERAL
================================================== */

/*** buttons ***/
.btn {
	padding: 5px 12px;
	font-size: 14px;
	line-height: 20px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border:none;
	border-radius:4px;
}

.btn-lg {
	padding: 11px 19px;
	font-size: 18px;
	border-radius:6px;
}
.btn-sm {
	padding: 2px 10px;
	font-size: 11px;
	border-radius:3px;
}
.btn-xs {
	padding: 0 6px;
	font-size: 10px;
	border-radius:3px;
}
.btn-link {
	text-transform:none;
	text-shadow:none;
	padding:0;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
}
.btn i:before {
	text-align:left;
}
.btn-border {
	color:#fff;
}

/*** call to actioon ***/

.ctaBox{padding:33px 11px;}
.ctaBoxFullwidth{padding:0;}

.ctaBox a {margin-top:22px;} 
.ctaBox h1{
	font-size:22px;
	line-height: 33px;
	margin-bottom:0;
	font-weight:100;
	padding:0;
	border:none;
	text-align:left;
	letter-spacing:normal;
	text-transform:none;
}
.ctaBox h1 strong{}
.ctaBox blockquote {
	font-size:44px;
	line-height: 44px;
	margin-bottom: 0;
}
a.btnRight{float:right;}

.ctaBox.ctaBoxCentered h1, .ctaBox.ctaBoxCentered blockquote{ text-align: center;}
.ctaBox.ctaBoxCentered a {float:none; margin-top: 1.5em;}
/*** MEDIA QUERIES ***/

@media(max-width:767px){
	.btn-lg {
		padding: 14px 18px;
		font-size: 18px;
	}
}

@media(min-width:768px){

}

@media(min-width:992px){
	
	.ctaBox a {float:right; margin-top:0;} 

	a.btnLeft{float:left;}
}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END GENERAL
================================================== */

/* PARALLAX STUFF
================================================== */


#paralaxSlice1, #paralaxSlice2, #paralaxSlice3, #homeFullScreen{
	width:100%;
	background-repeat: no-repeat;
	background-attachment:scroll;
	background-size: cover;
	background-position: top center;

}

.maskParent{position: relative; height:100%; width:100%;}

.paralaxText {
	padding-top:66px;
	padding-bottom:66px;
	text-align:center;
	position: relative;

}
.paralaxMask {
	width:100%; 
	height:100%;
	overflow:hidden;
	position:absolute;
	background:rgba(0,0,0,0.15);
}


#paralaxSlice1 {
	background-image: url('../images/theme-pics/parallax-1.jpg');
}
#paralaxSlice2 {
	background-image: url('../images/theme-pics/parallax-2.jpg');
}
#paralaxSlice3 {
	background-image: url('../images/theme-pics/parallax-3.jpg');
}

/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){

	#paralaxSlice1, #paralaxSlice2, #paralaxSlice4, #paralaxSlice5, #paralaxSlice6, #paralaxSlice7, #paralaxSlice8, #paralaxSlice9, #paralaxSlice10, #paralaxSlice11, #paralaxSlice12{
		background-attachment: fixed;
		background-position: 50% 0;
		background-size: cover;
	}

}


/* END PARALLAX STUFF
================================================== */


/* HOME FULLSCREEN
================================================== */


#home{padding-top:44px;}
#mapWrapper{ height:350px; }


#homeFullScreen {
	background-image: url('../images/slider/super/supersized-1.jpg');

	overflow:hidden;
}

#homeFullScreen .maskParent {display:table; width:100%;}


#fullScreenSliderWrapper{
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	margin:auto;

}
.blockCenter{
	width: 320px;
	margin:auto;
}
#logoBig {margin-bottom: 22px;}
#logoBig img{width:300px; margin:auto; position: relative}
#fullScreenSliderWrapper h1 {font-size: 22px;}


#onePage {padding-top: 0}
body#onePage #mainHeader{width:100%; }
body#onePage #mainHeader.navbar{ border: none;}


/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){.blockCenter{ width: 768px;}}

@media(min-width:992px){.blockCenter{ width: 992px;}}

@media(min-width:1200px){.blockCenter{ width: 1200px;}}

/*** END MEDIA QUERIES ***/


/* HEADER
================================================== */
#preHeader{display:none!important;}
.navbar-brand{padding:22px 0;}
/** pre header **/

#preHeader .socialNetwork, .contactPhone{display:inline-block; float:right;}
#preHeader .socialNetwork li {display:block; list-style-type: none; float:left;}
.contactPhone{padding-right:11px; margin-top:10px }
#preHeader .socialNetwork {margin:0;}

#preHeader .socialNetwork a {
	text-align:center;
	line-height: 40px;
	display:block;
	width:30px;
	height:40px;

}
#preHeader .socialNetwork a:hover{text-decoration: none;}
ul.quickMenu {
	margin:10px 0 0 0;
	padding:0;
}
ul.quickMenu li {
	display:inline-block;
	padding-right: 11px;
}

ul.quickMenu li a {
	font-size:12px;
	margin:0;
	padding:0;
	display:block;
	line-height:1em;

}
ul.quickMenu li a:hover {text-decoration:none;}
ul.quickMenu li a.linkLeft {
	margin-left:0;
}

/*** MEDIA QUERIES ***/
@media(max-width:767px){}

@media(min-width:768px){
	#fullScreenSliderWrapper h1 {font-size:80px;}
	.header1 #preHeader, .header3 #preHeader, .header5 #preHeader {
		display:block!important;
		height:40px
	}

}

@media(min-width:992px){

	.fixedHeader .navbar-nav > li > ul, .fixedHeader .navbar-nav .nekoMegaMenu {
		top:50px;

	}

	.fixedHeader #mainMenu li a{
		padding-bottom: 8px;
		padding-top: 8px;
	}
	.fixedHeader .navbar-nav > li.sep:before {
		line-height: 15px;
	}
	.fixedHeader .navbar-brand { padding:15px 0; }

	.fixedHeader .navbar-brand img { max-height: 30px; }

}
@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/


/*** header options ***/


/* header 1 */

.header1 .navbar-nav ul ul{ top:0px }
.header1 ul.quickMenu li, .header1 .contactPhone {margin-right: 11px;}
.header1 .sep{display:none;}
.header1 .navbar-nav > li a {text-transform: uppercase; font-weight:400;}

/** header 2 **/
.header2 #preHeader {display: none!important;}

/*** header 3 ***/
.header3  #preHeader .socialNetwork  a {width:40px;}
.header3 .navbar-default .navbar-nav > li > a { text-transform: none; font-weight: 300; }
.header3 .sep{display:none;}

/**** header 4 ****/
.header4 #preHeader {display:none!important;}


/*** end header options ***/


/*** MEDIA QUERIES ***/
@media(max-width:767px){}

@media(min-width:768px){

	/* Header 1 */
	body.header1 { padding-top: 128px; }
	.header1 .navbar-nav > li.sep{display: none;}
	.header1 .navbar-nav > li > ul , .header1 .navbar-nav .nekoMegaMenu {top:88px;}
	.header1 .fixedHeader .navbar-nav > li > ul , .header1 .fixedHeader .navbar-nav .nekoMegaMenu {top:60px;}
	.header1 .navbar-nav > li a {font-size: 13px;}
	.header1 .navbar-nav > li#lastMenu > a {padding-right:15px;}
	/** Header 2 **/
	.header2 .navbar-nav > li.sep{display: none;}
	.header2 .navbar-nav > li > ul, .header2 .navbar-nav .nekoMegaMenu {top:88px;}
	.header2 .fixedHeader .navbar-nav > li > ul , .header2 .fixedHeader .navbar-nav .nekoMegaMenu {top:60px;}
	.header2 .navbar-nav > li#lastMenu > a {padding-right:15px;}

	/*** Header 3 ***/
	body.header3{padding-top:128px;}
	.header3 .navbar-nav > li > ul , .header3 .navbar-nav .nekoMegaMenu {top:89px;}
	.header3 .fixedHeader .navbar-nav > li > ul , .header3 .fixedHeader .navbar-nav .nekoMegaMenu {top:61px;}
	.header3 .navbar-nav > li.sep{display: none;}
	.header3 .navbar-nav>li>a {padding:22px 11px;}

	/**** Header 4 ****/
	.header4 .navbar-nav > li.sep{display: none;}
	.header4 .navbar-nav>li>a {
		padding-left: 15px;
		padding-right:15px;
		text-transform: uppercase;
	}
	.header4 .navbar-nav > li#lastMenu > a {padding-right:15px;}
	.header4 .navbar-nav > li > ul, .header4 .navbar-nav .nekoMegaMenu {top:92px;}
	.header4 .fixedHeader .navbar-nav > li > ul , .header4 .fixedHeader .navbar-nav .nekoMegaMenu {top:64px;}

	/***** Header 5 *****/
	body.header5{padding-top:125px;}
	.header5 .navbar-nav > li.sep{display: none;}
	.header5 .navbar-default .navbar-nav > li > a {
		text-transform:uppercase;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight:bold;
		border-radius:4px;
		padding:10px;
		margin: 27px 11px 0 0;
		line-height:1em;
	}
	
	.header5 .navbar-nav > li#lastMenu > a {padding-right:10px;}
	.header5 .navbar-nav ul li a {padding:10px; margin: 0 10px;}
	.header5 .navbar-nav > li > ul, .header5 .navbar-nav .nekoMegaMenu {
		top:57px;
		border-radius:4px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	.header5 .navbar-nav .nekoMegaMenu {padding:22px;}

	.header5 .fixedHeader .navbar-nav > li > ul , .header5 .fixedHeader .navbar-nav .nekoMegaMenu {top:42px;}
	.header5 .navbar-nav ul ul {
		padding:10px 0;
	}
	.header5 .fixedHeader #mainMenu li a {padding:10px; margin-top: 13px;
	}
}
@media(min-width:992px){

	.header3 .navbar-nav > li > a {padding:22px 22px;}
}

/* END HEADER
================================================== */



/* MAIN MENU
================================================== */


.navbar-nav > li > a {
	display: block;
	padding: 11px 0;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.navbar-nav > li.sep{ display: none; }
.navbar-nav > li#lastMenu > a {padding-right:0; /*align right*/}



#mainHeader .pull-right{ float:none !important; }

/*** sub menus ***/

.navbar-nav ul li{position:relative;}

.navbar-nav ul {
	display:none;
	padding: 0;
	margin: 0;
	list-style-type:none;
}

.navbar-nav ul ul{ top:0 }

.navbar-nav ul li a{
	display:block;
	padding:11px 0;
	font-size: 12px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar-nav ul li a:hover{text-decoration:none;}

#mainMenu .navbar-nav li a.hasSubMenu:after{
	font-family: "custom-icons";
	display: block;
	content: '\e89e';
	float: right;
	margin-right: 15px;
}


#mainMenu .navbar-nav i{
	float:right;
}

.navbar-nav .nekoMegaMenu {
	display:none;
	-webkit-backface-visibility: hidden;
}

.navbar-nav .nekoMegaMenu>div>div{
	-webkit-backface-visibility: hidden;
}
.navbar-nav ul li.megaMenuTitle {
	text-transform: uppercase;
	font-weight:bold;
	padding-bottom: 6px;
	margin-bottom: 6px;

}
.navbar-nav .nekoMegaMenu ul {
	width:auto;
}


/*** MEDIA QUERIES ***/

@media(max-width:767px){


}

@media(min-width:768px){

	#mainHeader .pull-right{ float:right !important; }
	
	.navbar-nav > li > a{
		font-size: 14px;
		font-weight: 400;
		padding: 22px 11px;
		line-height:44px;
		vertical-align:middle;
	}
	

	.navbar-nav > li > a i {
		display: block;
	}

	.navbar-nav ul {
		position: absolute;
		top: 70px;
		left: 0;
		z-index: 1024;
	}

	.navbar-nav ul {
		width: 160px;
	}

	
	.navbar-nav > li.sep{display: block;}

	.navbar-nav > li.sep:before{
		content:' / ';
		/*font-family: 'custom-icons';*/
		display:block;
		font-size: 10px;
		text-align: center;
		padding: 0;
		margin-top: 22px;
		margin-bottom: 22px;
		line-height:44px;*/
	}

	#mainMenu .navbar-nav li a.hasSubMenu:after{
		display: none;
	}

	#mainMenu .navbar-nav ul li a.hasSubMenu:after {
		content: '\e805';
		display: block;
	}


	.navbar-nav ul li a{padding:11px;display:block; font-size:12px;}
	.navbar-nav ul li{padding:0;}

	/*** mega menu ***/
	.nav>li.nekoMegaMenuTrigger{position:static !important;}

	.navbar-nav .nekoMegaMenu ul{
		position: static;
		float: left;
		border:none;
		background:none;
		display:block;
		width:100%;

	}

	#mainMenu .navbar-nav ul li.megaMenuTitle {
		display:block;
		width:100%;
	}
	
	.navbar-nav .nekoMegaMenu{
		width:100%;
		position:absolute;
		right:0;
		top: 70px;
		z-index: 1024;
		padding:22px;

	}
	.navbar-nav .nekoMegaMenu ul {padding:0;}

	.navbar-nav .nekoMegaMenu ul li a {padding:5px 10px 5px 10px;}
	/*** mega menu ***/


}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/


/* END MAIN MENU
================================================== */
/* HOME
================================================== */
#home, #owlSlider{padding-top:44px;}
#mapWrapper{ height:350px; }
#noSliderWrapper{padding-top:44px;}




/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){#home{padding-top:54px;}}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END HOME
================================================== */
/* NEWS
================================================== */
.newsText{padding:20px 20px 20px 20px;}
.newsText h3{margin-bottom: 8px;}
.date{font-size:12px; line-height:12px;font-style: italic;}
.newsText p{font-size:12px;} 

/* END NEWS
================================================== */

/* FOOTER 
================================================== */

footer{padding:44px 0 0 0;}
#footerLogo {margin-bottom: 22px;}
#footerRights {padding:22px;margin-top:22px; text-align: center; font-size:10px;}
.footerWidget {margin-bottom: 22px}



/* footer 1 */
.worksList li{display:inline-block; margin: 0 10px 10px 0;}
.worksList li a img {border-radius:4px;}

/* footer 4 */
.footer4 #footerRights {text-align: left; background:#333;}
.bigTitle.bigTitleFooter {font-size: 2em; margin-bottom: 0;}


@media(min-width:992px){

	/* footer 4 */
	.footer4 #footerRights .quickMenu {float:right;}

	/* footer 5 */
	.footer5 #footerRights p{float: left;}
	.footer5 #footerRights .socialNetwork{float: right;}
}
/* END FOOTER 
================================================== */


/* SLIDERS
================================================== */
/*** supersized ***/

#superSizedSlider {text-align:center;}
#superSizedSlider h1 {
	font-size:22px;
	margin-top:20%;
	display:block;
	padding:44px 33px 0 33px;
	line-height:1.1em;
}

/** replace arrows with font **/
#nextslide, #prevslide {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	color: #FFFFFF;
	font-family: 'custom-icons';
	text-align: center;
	font-size: 1em;
	height: 1em;
	line-height:1em;
	width: 1em;
}
#prevslide:before {
	content: '\e804';
}
#nextslide:before {
	content:'\e805';
}
a#nextslide:hover, a#prevslide:hover {
	text-decoration: none;
}


/*** OWL slider home ***/

#homeCarousel {text-align: center;}
#homeCarousel h1 {
	margin-bottom: 11px;
	font-weight: 100;
	font-size: 32px;
	line-height:1em;
	text-transform:uppercase;
	padding:0;
	text-shadow:1px 2px 1px rgba(0, 0, 0, 0.2);
	width:100%;
	text-align:center;
	display: inline-block;
}
#homeCarousel h1:after  {content:''}
#homeCarousel h2 {text-align:center; display: block;margin-bottom: 11px;}
#homeCarousel .btn {margin-top: 11px;}

#homeCarousel .owl-pagination {text-align: center;}

/*** OWL carousel ***/


.owl-theme .owl-controls .owl-buttons div{
	
	background:none;
	font-family: 'custom-icons';
	font-size:22px;
	text-align:center;
	color:#fff;
	opacity:1;
	border-radius: 50%;
	padding:0;

}


.noOwlButtons .owl-buttons{display:none;}

.owl-next {right:-9px;}
.owl-prev {left:-9px;}

.owl-next i, .owl-prev i {display:block; padding: 10px 5px;}


.owl-theme .owl-controls {margin-top:22px;}

.owl-theme.centerOwlButtons .owl-controls .owl-buttons div{position:static; }
.owl-theme.centerOwlButtons .owl-pagination {display:none;}


.owl-carousel .item{position:relative;}
.owlCaption {
	padding:22px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.owlCaption p {display:none;}
.carouselWorksFullscreen img{ width: 100%}

/*** camera ***/
#cameraSliderWrapper{
	overflow: hidden;
	margin: 44px auto;
}
#cameraSliderWrapper .camera_target_content {border-radius: 11px!important;}
/** camera_neko_skin **/
.camera_neko_skin .camera_prevThumbs div {
	

	background-position: -160px -280px;
}
.camera_neko_skin .camera_nextThumbs div {
	background-position: -190px -280px;
}
.camera_neko_skin .camera_prev, .camera_neko_skin .camera_next, .camera_commands{
	background:none;
	width:50px;
	height:50px;
	font-family: 'custom-icons';
	color:#fff;
	font-size:2.5em;
}
.camera_neko_skin .camera_prev {left:22px; text-align: left;}
.camera_neko_skin .camera_next {right:22px;text-align: right;}
.camera_neko_skin .camera_prev > span {
	background: none;
}
.camera_neko_skin .camera_prev:before{
	content:'\e804';
	
}

.camera_neko_skin .camera_next:before {
	content: '\e805';
}
.camera_neko_skin .camera_next > span {
	background: none;
}

.camera_neko_skin .camera_wrap .camera_pag .camera_pag_ul li {background:#fff!important;}
.camera_neko_skin .camera_caption{
	width:100%;
	/*padding-bottom:12%;*/
	text-align: center;

}
.camera_neko_skin .camera_caption h1  {
	font-size: 18px;
	margin-bottom: 11px;
	font-weight: 100;
	line-height: 1em;
	text-transform: uppercase;
	padding: 0;

}
.camera_neko_skin .camera_caption h2  {
	font-size: 12px;
	padding:11px 22px;
	border-radius: 22px;
	display: inline-block;
}
.camera_neko_skin .camera_caption h2:after{content:none;} 
.camera_neko_skin .camera_caption p { display:none;}

.camera_neko_skin .camera_caption > div{padding:22px;}
.camera_neko_skin .camera_wrap .camera_pag .camera_pag_ul {text-align: center; background:#f7f7f7; border-bottom: 1px solid #eee}


/*** MEDIA QUERIES ***/

@media(max-width:767px){
	.owlCaption h2 {margin:0;}
}

@media(min-width:768px){

	.camera_neko_skin .camera_caption h1 {font-size: 66px;}
	.camera_neko_skin .camera_caption h2 {font-size: 22px;}

	.owlCaption {
		padding:22px;
		bottom:50px;
		left:22px;
		width:50%;
	}
	
	.owlCaption p {display:block;}
}

@media(min-width:992px){}

@media(min-width:1200px){

	#cameraSliderWrapper{
		height:633px;
	}
}




/*** Revolution Slider ***/
#rsDemoWrapper{
	visibility:hidden;
}


.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
}


/*** MEDIA QUERIES ***/

@media(max-width:400px){
	#homeCarousel h2 {font-size: 12px;}
}

@media(min-width:768px){
	/* OWL Carousel */
	#homeCarousel h1 {font-size:40px; text-align: left;}
	#homeCarousel h2 {text-align:left;}
	#homeCarousel {
		margin-top:44px;
		text-align:left;
	}
	#homeCarousel .owl-pagination {text-align: left;}

	
	/* Camera slider */
	.camera_caption {width:40%;}
	.camera_caption h1 { font-size: 27px;}
	.camera_caption h2 { font-size: 16px; }
	.camera_caption p { display:block; line-height: 1.5em;}

	/* Supersized slider */
	#superSizedSlider h1 {font-size:88px;}
	#nextslide, #prevslide {
		font-size: 2em;
		height: 2em;
		line-height: 2em;
		width: 2em;
	}
	.ls-fullwidth .ls-nav-prev, .ls-fullwidth .ls-nav-next, .ls-borderlesslight .ls-nav-prev, .ls-borderlesslight .ls-nav-next {display:block;}

}
@media(min-width:992px){
	#homeCarousel h1 {font-size: 50px;}
	#homeCarousel {
		margin-top:66px;
	}

	

	.camera_caption h1 { font-size: 33px;}
	.camera_caption h2 { font-size: 22px; }
	.camera_caption p { font-size: 12px; }
}

@media(min-width:1200px){
	#homeCarousel h1 {font-size: 80px;}
	#homeCarousel {
		margin-top:55px;
	}
	.flexFullScreen {
		min-height: 500px;
	}
}

/*** END MEDIA QUERIES ***/

/* BLOG
================================================== */
article.post{margin-bottom: 22px;}
.post h2 a:hover{text-decoration:none;}

ul.entry-meta li a{padding:4px 10px 4px 5px; border-radius: 4px; text-decoration: none;}

.formatIcon {padding:11px 0; border-top:1px solid #fff;}
.formatIcon i {font-size: 22px;}

ul.entry-meta {margin:0; padding:0;font-size:11px;}
ul.entry-meta li {display:inline-block; margin-bottom:11px; }

.widget {margin-bottom:22px;padding-bottom:22px;}
.tagCloud a:link, .tagCloud a:visited {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	margin: 0 3px 14px 0;
	padding: 7px;
	border-radius: 2px;
	line-height: 1em;

}

/* END BLOG
================================================== */

/* PAGES
================================================== */
.page-header .col-sm-6{ margin-bottom:0; }
.page-header{padding: 33px 0;margin:0;}
.page-header.bigHeader {
	padding-bottom:0;
	background-image:url('../images/theme-pics/big-header.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

ul#navTrail {padding:0; margin-bottom: 0; float:right;}
ul#navTrail li{display:inline-block;font-size:12px;}
ul#navTrail li a{text-decoration: none; }
ul#navTrail li a:after{content:" / ";}

/** sidebar **/
nav#subnav {margin-bottom: 22px;}
nav#subnav ul {margin:0; padding:0; list-style-type: none}
nav#subnav ul li a{
	margin:0;
	padding:11px 0;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
nav#subnav ul li a:hover{text-decoration: none;}
nav#subnav ul li a i {float:right;display:none; margin-top: 4px;}
nav#subnav ul li a:hover i, nav#subnav ul li a.active i {display:block;}
nav#subnav{padding:0;}

#videoBg{ height:450px; position:relative; }

@media(min-width:768px){
	
	.formatIcon i {font-size: 33px;}
}
@media(min-width:992px){
	
}

@media(min-width:1200px){

}

/* END PAGES
================================================== */


/* PORTFOLIO
================================================== */



nav#filter {margin-bottom:22px;}
nav#filter ul {padding:0;}
nav#filter li{ display:inline-block;list-style:none;}
.isotopeItem {margin-bottom: 22px;}
.page-header .projectTitle {text-align: right;}
header#project{padding:22px 0;}
#project h1 {text-align:left;}
.centerBtn {display:inline-block!important;}
#fullWidthImageProject img{width: 100%;}
#portfolioFullWidth #shareme {float:right;}


/*** pinterest like ***/
.pinBox{
	padding:15px;
	position:relative;
}
.pinBox .boxContent{
	margin-top: 11px;
}
.pinInfo{
	padding:0;
	margin:0;
}
.pinInfo li {
	display: inline-block;
}
.pinInfo li a {
	text-decoration: none;
	font-size:12px;
}
.pinInfo  p {padding-bottom: 11px;}
/*** Porfolio Mosaic***/

/*preloader portoflio mosaic*/
#preloaderPortfolio {
	position:relative;
	width:100%; top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10; 
	background:#fff;
	height:1000px;
}
#preloaderPortfolio #status { top:200px;}
/*preloader portoflio mosaic*/


.portfolioMosaic article{
	float:left;
	-webkit-backface-visibility: hidden;
}

.portfolioMosaic.mosaic5 article, .portfolioMosaic.mosaic4 article, .portfolioMosaic.mosaic3 article, .portfolioMosaic.mosaic2 article{
	width:50%;
}



/* More Link */

.generatedMoreLink{position:absolute; display:block; background-color:#43B6B1; text-align: center;}
.generatedMoreLink a{ display:inline-block;  text-decoration: none; }
.generatedMoreLink a h2, .generatedMoreLink a i{ color:white; }

.valign:after {
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
	content: '';
}
.valign > .valigned {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
/* More Link */

/* END PORTFOLIO
================================================== */

/* FORM
================================================== */
textarea#comments {height:87px;}
#verify {width:auto; display:inline-block;margin-top:11px;}
.securityCheck h3 {margin-bottom:7px;}

.centeredForm{text-align: center; }


/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){
	.page-header .projectTitle {text-align: left;}
	#verify {margin-left:15px; margin-top: 0;}

	.portfolioMosaic.mosaic5 article{
		width:33.33333333333333%;
	}
	.portfolioMosaic.mosaic4 article{
		width:33.33333333333333%;
	}
	.portfolioMosaic.mosaic3 article{
		width:33.33333333333333%;
	}
	.portfolioMosaic.mosaic2 article{
		width:33.33333333333333%;
	}

}


@media(min-width:992px){}


@media(min-width:1025px){

	.portfolioMosaic.mosaic5 article{
		width:20%;
	}
	.portfolioMosaic.mosaic4 article{
		width:25%;
	}
	.portfolioMosaic.mosaic3 article{
		width:33.33333333333333%;
	}
	.portfolioMosaic.mosaic2 article{
		width:50%;
	}

}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END FORM
================================================== */


/* MISCELANIOUS
================================================== */
/* Preloader one page */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10000; /* makes sure it stays on top */
}

#status {
	width:304px;
	height:300px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	margin:-125px 0 0 -150px; /* is width and height divided by two */
	text-align: center;
	padding-top: 20px;
}


/*** Scroll up Button ***/
#nekoToTop{
	position: fixed;
	bottom: 0;
	right: 20px;
	padding:5px;
	display:none;
	border-radius: 4px 4px 0 0;
	width: 50px;
	text-align: center;
}



/*** demo ***/
.highlight{margin-bottom: 44px;}
.bs-docs-section .btn {margin-bottom: 11px;}

/*** STYLE SWITCHER ***/
#switcherContent{padding:0 0 15px 0;}
.styleSwitcher {background:rgba(220, 220, 220, 0.5); position:fixed; top:200px; width:170px;left:-170px;z-index:9999}' +
.switcher.dark{background:#555;}
.styleSwitcher ul li{display:inline-block; line-height: 20px;}
.styleSwitcher ul {display:block; padding:0; margin:0}
.styleSwitcher ul.switcher li a {display:block; text-indent:-3000px; overflow:hidden; border:none; width:20px; height:20px; margin:0 5px 0 0;}
.styleSwitcher h1 {padding:0 0 6px 15px; line-height:44px;font-size:14px;font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; text-transform:uppercase; color:#333;border:none; margin:0; text-align:left;}
.styleSwitcher h1:after {content:none;}
.styleSwitcher #showHideSwitcher{outline:none; width:50px; height:50px; position:absolute; right:-50px; background:rgba(220, 220, 220, 0.5); top:0; font-size:24px; text-align:center; line-height:50px; color:#333;}
.styleSwitcher #showHideSwitcher:hover i {color:#fff;}
.styleSwitcher select{font-size:11px;margin:0 0 15px 15px;background:#eee; border:1px solid #ddd; width:120px;padding:4px; color:#333;}
.styleSwitcher .switcher {padding:15px 15px 8px 15px;}
.styleSwitcher .switcher.dark {background:rgba(0, 0, 0, 0.5);}
.layoutStyle{ margin-bottom:10px; }
a.btnSwitcher {
	display: block;
	width:120px;
	border:1px solid #eee;
	background:#fff;
	margin-top:10px;
	text-transform: uppercase;
	padding:10px;
	color:#777;
	text-decoration: none;
	text-align: center;
	margin-left: 15px;
}
.btnSwitcher.active, .btnSwitcher:hover {
	border-color:#eee;
	background:#eee;
} 
/* font icon test */
ul.iconsTest {
	margin:0 0 22px 0;
}
.iconsTest li {
	display:block;
	float:left;
	margin-right: 22px;
}
.ico1 {
	color: #00CCFF;
	font-size: 1em;
}
.ico2 {
	color: #3366FF;
	font-size: 3em;
}
.ico3 {
	color: #6666CC;
	font-size: 6em;
}
.ico4 {
	color: #FFFFFF;
	font-size: 6em;
	text-shadow: 0 2px 2px #777777;
}
/*** end demo ***/

/*** hover images ***/

.imgHover article {
	display: inline-block;
	position: relative;
}

.imgHover figure {
	margin: 0;
	position: relative;
}

.imgHover figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.imgHover figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;

}

.imgHover figcaption h3 {
	margin: 0;
	padding: 0;
}

.imgHover figcaption span:before {
	content: 'by ';
}

.neko-hover-1 figure {
	overflow: hidden;
}

.neko-hover-1 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .neko-hover-1 figure:not(.noCss3):hover img,
.neko-hover-1 figure.cs-hover img{
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);

}

.neko-hover-1 figcaption {

	width: 100%;
	top: auto;
	bottom: 0;
	/*opacity: 0;*/
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}


.no-touch .neko-hover-1 figure:not(.noCss3):hover figcaption,
.neko-hover-1 figure.cs-hover figcaption {
	/*opacity: 1;*/
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.neko-hover-1 figcaption .iconLinks {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.neko-hover-1 figcaption .iconLinks a{
	display: inline-block;

}

/*** social icons ***/
ul.socialNetwork {padding:0; display: block;}
ul.socialNetwork li {display:inline-block; list-style-type: none;}


/*** pricing table ***/
.pricingBloc {
	text-align:center;
	margin-top:22px;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 22px;
	overflow: hidden;

}

.pricingBloc:hover {
	margin-top:18px;
}

.pricingBloc .iconRounded{display: inline-block; margin-top: 22px;}
.pricingBloc ul {
	list-style-type:none;
	margin:0;
	padding:0;
	font-size:12px;
}
.pricingBloc ul li {
	padding:11px 0
}
.pricingBloc h2 {
	font-size: 14px;
	margin-bottom: 0;
	padding: 11px;
	font-weight: 100;
}

.pricingBloc h3 {
	font-size: 44px;
	font-weight: 100;
	display: block;
	padding: 22px;
	margin-bottom: 0;
}
.pricingBloc h3 span {
	font-size: 14px;
	font-weight: 100;
	margin: 11px 0 0 0;
	display: block;
	letter-spacing: normal;
	line-height: 22px;
}
.pricingBloc p {
	margin-bottom:0;
	padding:1.5em
}
.pricingBloc.focusPlan {
	margin-top:0;
}
.pricingBloc.focusPlan h3 {
	font-size:66px;
	padding:22px;
}
/*** end pricing table ***/

/*** responsive video ***/
.videoWrapper {
	position: relative;
	padding-bottom: 56.2%;
	height: 0;
}


.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoWrapper.videoFormat2 {
	padding-bottom:61%; /*ratio = 198/500*100 */
}

p.credits {
	padding:1.5em;
	margin-bottom:1.5em
}
/*** end responsive video ***/

/*** share plugin ***/

.sharrre .button {
	float: left;
	width: 60px;
}
#shareme h4 {margin-top: 22px; font-size: 16px;}
#shareme a {
	display:block;
	text-align: center;
	width: 44px;
	height: 44px;
	padding-top: 10px;
	float:left;
	border-radius:5px;
	margin-right: 5px;
}
#shareme i {color:#fff;}
#shareme .facebook {background:#3b5998;}
#shareme .twitter {background:#55ACEE;}
#shareme .googleplus {background:#d34836;}


/*** Buttons **/
#sharemeBtn a {margin:0 11px 11px 11px; }
#sharemeBtn a, #sharemeBtn i {color:#fff;}
#sharemeBtn .btnFacebook {background:#3b5998;}
#sharemeBtn .btnTwitter {background:#55ACEE;}
#sharemeBtn a.btnFacebook:hover {border-color:#3b5998;}
#sharemeBtn a.btnTwitter:hover {border-color:#55ACEE;}



/*** MEDIA QUERIES ***/

@media(max-width:767px){}

@media(min-width:768px){}

@media(min-width:992px){}

@media(min-width:1200px){}

/*** END MEDIA QUERIES ***/

/* END MISCELANIOUS
================================================== */