.blanc {
   	background-color: white;
   	padding-bottom: 10px;
}

footer {
   	min-height: 12px;
  	padding: 12px;
	margin-bottom: 12px;
	background-color: rgb(248,248,248);
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	text-align: center;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

img {
max-width: 50%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
}

h3, h4 {
	text-align: center;
}

h5 {
	font-weight: bold;
}

.rowspan {
	text-align: center;
	background-color: white;
	text-decoration: underline;
}

.adresse {
   	height: 240px;
   	position: relative;
   	left: -15px;
   	top:-8px;
   	white-space: nowrap;
   	overflow: visible;
}

body { 
    background: url(fond_musique.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: justify;
}

@media(min-width:500px) {
    .marque1 {
    	display: block;
    }
    .marque2 {
    	display: none;
   	}
}

@media(max-width:500px){
	.marque1 {
		display: none;
	}
	.marque2 {
		display: block;
	}
}


@media(min-width:0px){ /*xs*/
	.adresse {
		height: 168px;
	}
	.imgBorder {
		max-height: 158px;
	}
	.padding_haut {
		padding-top: 51px;
	}
	.marque {
		width: 90px;
	}

@media(min-width:768px){ /*sm*/
	.adresse {
		height: 168px;
	}
	.imgBorder {
		max-height: 158px;
        position:relative;
        top:20px;
	}
	.padding_haut {
		padding-top: 100px;
	}
}

@media(min-width:992px){ /*md*/
	.adresse {
		height: 182px;
	}
	.imgBorder {
		max-height: 172px;
	}
}

@media(min-width:1067px){
	.padding_haut {
		padding-top: 51px;
	}
}

@media(min-width:1200px){ /*lg*/
	.adresse {
		height: 175px;
	}
	.imgBorder {
		max-height: 165px;
	}
	.padding_haut {
		padding-top: 51px;
	}
}
    
@media(max-width:550px) {
    .imgBorder {
        position: relative;
        top:5px;
    }
}
@media(max-width:500px) {
    .imgBorder {
        position: relative;
        top:15px;
    }
}
@media(max-width:400px) {
    .imgBorder {
        position: relative;
        top:20px;
    }
}
@media(max-width:350px) {
    .imgBorder {
        position: relative;
        top:30px;
    }
}

/*problème titre et contact */
@media(min-width:500px) {
    .marque1 {
    	display: block;
    }
    .marque2 {
    	display: none;
   	}
    .moins500 {
        display: none;
    }
}
@media(max-width:500px){
	.marque1 {
		display: none;
	}
	.marque2 {
		display: block;
	}
    .plus500 {
        display: none;
    }
}