.boxIcon a i, .boxIcon a .imgBorder{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-backface-visibility: hidden;
}
.boxIcon a .imgBorder{
	border: 4px solid #F7F7F7;
	background: #F7F7F7;
	border-radius: 50%!important;

	width: 180px;
	height: 180px;
	margin: 18px auto 22px auto;
}
.boxIcon a .imgBorder img{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	-webkit-backface-visibility: hidden;
	width: 172px;
	height: 172px;
}
.boxIcon a:hover .imgBorder img{
	transform: scale(0.8,0.8);
	-webkit-transform: scale(0.8,0.8);
}
.imgBorder {
	border-radius:11px;
	overflow: hidden;
	/*padding:5px;*/
	max-width: 100%;
	height: auto;
	float: right;
}